body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.outer-container {
    background-color: #91d370;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

button {
    background-color: rgb(13, 60, 35);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.distances {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

label, select, input[type="number"], button {
    margin-bottom: 15px;  /* Adjust this value to increase or decrease the spacing */
}
